section
{
	margin: 16px;
}
section#intro, section#resultsHead
{
	text-align: center;
	font-size: 48px;
}
section#search
{
	text-align: left;
	font-size: 16px;
}
button
{
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: grey;
	border: 2px solid grey;
}
button:hover
{
	background-color: grey;
	border: 2px outset grey;
}
button:active
{
	background-color: grey;
	border: 2px inset grey;
}
a
{
	color: black;
	font-weight: bold;
}
th, td
{
	text-align: center;
	border: 1px solid black;
	padding: 1px;
}

#chart {
	 width: 100%
}

td
{
	background-color: cyan
}

